@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-matte-black {
  background-color: #121212; /* Matte Black Background */
}

.bg-indigo-500 {
  background-color: #5c6bc0; /* Indigo Button Background */
}

.bg-indigo-600 {
  background-color: #3949ab; /* Darker Indigo on Hover */
}